@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <h1>Witaj, @Model.sessionHelper.UsernameValue</h1>
<p>Twój token to: @Model.sessionHelper.TokenValue</p>
<p>Pracujesz w firmie: @Model.sessionHelper.CompanyIdValue</p>