@page
@model whManagerUI.Pages.Delivery.CreateModel
@{
    ViewData["Title"] = "Create";
}

<div>
    <h2>Tworzenie dostawy</h2>
    <form method="post" class="form">
        <div class="form-group">
            <label asp-for="NewDelivery.CarId">Samochód</label>
            <select class="form-control" asp-for="NewDelivery.CarId" asp-items="Model.CarOptions"></select>
        </div>
        <div class="form-group">
            <label asp-for="NewDelivery.UserId">Kierowca</label>
            <select class="form-control" asp-for="NewDelivery.UserId" asp-items="Model.UserOptions"></select>
        </div>
        <div class="form-group">
            <label asp-for="NewDelivery.DeliveryFrom">Dostawa z</label>
            <input asp-for="NewDelivery.DeliveryFrom" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="DeliveryItem.ItemTypeId">Typ</label>
            <select class="form-control" asp-for="DeliveryItem.ItemTypeId" asp-items="Model.DeliveryItemTypesOptions"></select>
        </div>
        <div class="form-group">
            <label asp-for="DeliveryItem.Count">Ilość</label>
            <input asp-for="DeliveryItem.Count" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="DeliveryItem.Unloading.TimeStart">Data startu</label>
            <input asp-for="DeliveryItem.Unloading.TimeStart" class="form-control" value="2001-01-01 01:00:00" />
        </div>
        <div class="form-group">
            <label asp-for="DeliveryItem.Unloading.TimeEnd">Data końca</label>
            <input asp-for="DeliveryItem.Unloading.TimeEnd" class="form-control" value="2001-01-01 01:00:00" />
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
