@page
@model whManagerUI.Pages.DeliveryItemType.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edytowanie typu @Model.DeliveryItemType.Name</h2>

<form method="post" class="form-inline">
    <div class="form-group">
        <input asp-for="@Model.DeliveryItemType.Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form> 