@page
@model whManagerUI.Pages.Car.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edytowanie pojazdu @Model.Car.PlateNumber</h2>

<form method="post" class="form-inline">
    <div class="form-group">
        <input asp-for="Car.PlateNumber" class="form-control" />
        <input asp-for="Car.Brand" class="form-control" />
        <input asp-for="Car.Model" class="form-control" />
        <input asp-for="Car.Weight" class="form-control" />
        <input asp-for="Car.Capacity" class="form-control" />
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form> 